a {
    color: #3d707a;
}

a:hover, a:active {
    color: #bf7d18;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
}

#content-header {
    margin-left: 50px;
}

#content-header h1 {
    font-size: 18px;
    margin-bottom: 0;
}

#content-header p, #module-content-header p {
    font-size: 13px;
    margin: 0;
    color: #909090;
}

#result-list table {
    font-size: 13px;
    background: #f5f5f5;
    margin: 15px 50px;
    width: auto;
    border-collapse: collapse;
    border: 1px solid #6d5e48;
    text-align: right;
}

#result-list thead tr.last,
th.statements {
    border-bottom: 1px solid #6d5e48;
}

#result-list th {
    padding: 3px 12px;
    font-size: 14px;
    font-weight: normal;
    color: #937F61;
    text-align: center;
}

#result-list td {
    border-bottom: 1px solid #e0e0e0;
    color: #606060;
    padding: 6px 12px;
    text-align: center;
}

#result-list tfoot td {
    border-bottom: 1px solid #6d5e48;
    color: #937F61;
    font-weight: bold;
}

#result-list .normal {
    color: #609030;
}

#result-list .warning {
    color: #d0a000;
}

#result-list .critical {
    color: red;
}

.cov_10, .passed {
    background-color: #66CC66;
}

.cov_9 {
    background-color: #A0D696;
}

.cov_8, .cov_7 {
    background-color: #FDCA98;
}

.cov_6, .cov_5, .cov_4, .cov_3, .cov_2, .cov_1,
.cov_0, .failed {
    background-color: #FFBFBF;
}

#result-list .module-name {
    text-align: left;
}

.footer-link {
    margin-left: 62px;
}

/*------- For list base ---------*/
#module-result-list {
    margin: 0 50px;
}

#module-result-list ul {
    padding-left: 13px;
    list-style-position: inside;
}

/*--------- Source code page ---------*/
pre {
    margin: 0;
}

.nav {
    font-size: 12px;
    margin-left: 50px;
}

#source-listing {
    margin-bottom: 24px;
}

#source-listing ol {
    padding: 0 0 0 50px;
    width: 90%;
    font-family: monospace;
    list-style-position: outside;
}

#source-listing ol li {
    line-height: 18px;
    font-size: small;
    min-height: 18px;
}

#module-name {
    color: #583707;
}

.ignored {
    color: #707070;
}

.executed {
    background-color: #dfd;
}

.missed {
    background-color: #FFB2B2;
}

.excluded {
    color: #6090f0;
    font-weight: lighter;
}

#module-content-header {
    font-size: 12px;
    padding: 18px 0 18px 50px;
}

#module-content-header h1 {
    font-size: 16px;
    margin: 10px 0 0 0;
    color: #909090;
}

#module-content-header .normal {
    color: #609030;
}

#module-content-header .warning {
    color: #d0a000;
}

#module-content-header .critical {
    color: red;
}

/*------------ rcov theme ------------*/

tr.even {
    background-color: #E0E0E0;
}

.percent_graph_legend {
    width: 4.5em;
    float: left;
    margin: 0 0.5em 0 0;
    height: 1em;
    line-height: 1em;
}

.percent_graph {
    height: 1em;
    border: #333333 1px solid;
    padding: 0;
    width: 100px;
    float: left;
    margin: 0 1em 0 0;
}

.percent_graph span {
    float: left;
    height: 1em;
    padding: 0;
}

.percent_graph .covered {
    background-color: #649632;
}

.percent_graph .uncovered {
    background-color: #a92730;
    padding: 0;
}

.percent_graph .NA {
    background-color: #eaeaea;
}
